
@import url('https://fonts.googleapis.com/css?family=Bangers|Bungee+Inline|Sofia|Luckiest+Guy|Eater');
body{
  background-color: black;
}
h2, h1 {
  margin: 0;
}
footer {
  margin-top: 200px;
}
.nav{
  font-family: 'Bungee Inline', cursive;
  font-size: 26px;

  /*border: 1px solid;
  border-color: white;*/
}
.jumbotron {
  color: #A2112A;
  font-family: 'Bangers', cursive;
  background-color: rgb(166, 17, 17);
  background-image: url(../assets/pow-hi.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 950px 550px;
}
.story{
  font-family: 'Bangers', cursive;
  font-size: 37px;
  color: #d7d1d7;
}
.ladyFinger{
  font-family: 'Sofia', cursive;
  color: #d7d1d7;
  margin: 30px 0 30px 0;
}

.boxzor{
  font-family: 'Luckiest Guy', cursive;
}
.barfmouth{
  font-family: 'Eater', cursive;
  color: #d7d1d7;
  margin: 30px 0 30px 0;
}
