<h1 class="barfmouth text-center">BarfMouth</h1>
<div class="col-md-12">
  <div class="col-md-4">
    <button type="button" class="btn btn-danger btn-lg col-md-12" ng-click="barfmouth.toggle()">Show My Story</button>
    <p ng-show="barfmouth.showStory" class="story text-center">BarfMouth is an alien creature from a distant galaxy called Blarmth. He is considered the most beautiful from his home plant and found no reason to stay. He jumps from galaxy to galaxy, planet to planet, fighting crime against evil doers with his rainbow coloered barf.</p>
  </div>
  <div class="col-lg-8">
    <div class="row">
    <img class="img-rounded img-responsive" height="900px" width="1200px" src="../assets/barfMouth.jpg" alt="finger nail lady" />
    </div>
  </div>
</div>
