<h1 class="boxzor text-center">Boxzor</h1>
<div class="row col-md-12">
  <div class="col-md-3">
    <button type="button" class="btn btn-danger btn-lg col-md-12" ng-click="boxzor.toggle()">Show My Story</button>
    <p ng-show="boxzor.showStory" class="story text-center">Boxzor is a box. You can put stuff in him to help carry stuff around. Many superheroes use Boxzor as a sidekick, especially when moving.</p>
  </div>
  <div class="col-md-9">

    <img class="img-rounded img-responsive"  src="../assets/boxzor.png" alt="finger nail lady" />

  </div>
</div>
