<h1 class="ladyFinger text-center">Lady Fingernails</h1>
<div class="row col-md-12">
  <div class="col-md-3">
    <p class="story text-center">Lady Fingernails was born in the ocean. It wasn't until she was 12 did she step foot on dry land. Because of all the salt, her fingernails grew long. She uses them to fight evil and can scratch a mean back.</p>
  </div>
  <div class="col-md-9">

    <img class="img-rounded img-responsive"  src="../assets/fingernaillady.jpg" alt="finger nail lady" />

  </div>
</div>
